<!DOCTYPE html>
<html lang="zh-CN" data-theme="light">
<head>
    {{ partial "head.html" . }}
</head>
<body>
    {{ $is404 := eq .Kind "404" }}
    {{ if and (not .IsHome) (not $is404) }}
    <div class="reading-progress"></div>
    {{ end }}

    {{ if not (eq .Type "posts") }}
    {{ partial "header.html" . }}
    {{ end }}

    <main>
        {{ block "main" . }}{{ end }}
    </main>

    {{ if and (not (eq .Type "posts")) (not $is404) }}
    {{ partial "ambient-bar.html" . }}
    {{ end }}

    {{ $assetVersion := readFile "static/js/custom-ui.js" | md5 }}
    {{ $mainJsVersion := readFile "themes/loficode/static/js/main.js" | md5 }}
    <script src="{{ "js/main.js" | absLangURL }}?v={{ $mainJsVersion }}"></script>
    <script src="{{ "js/custom-ui.js" | absLangURL }}?v={{ $assetVersion }}"></script>
</body>
</html>
