<!DOCTYPE html>
<html lang="zh-CN" data-theme="light">
<head>
    {{ partial "head.html" . }}
</head>
<body>
    {{ if not .IsHome }}
    <div class="reading-progress"></div>
    {{ end }}

    {{ if not (eq .Type "posts") }}
    {{ partial "header.html" . }}
    {{ end }}

    <main>
        {{ block "main" . }}{{ end }}
    </main>

    {{ $js := slice (resources.Get "js/main.js") (resources.Get "js/custom-ui.js") | resources.Concat "js/bundle.js" | minify | fingerprint }}
    <script src="{{ $js.RelPermalink }}"></script>
</body>
</html>
